.dashboard-container {
    display: flex;
    gap: 0px;
    /* Removido gap para a sidebar colar na main */
    overflow: hidden;
    background-color: #e2e8f0;
}

.sidebar {
    width: 250px;
    background-color: #212529;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Garante que a sidebar ocupe a tela toda */
}

.main-content {
    flex-grow: 1;
    padding: 15px;
    /* Reduzi o padding de 20 para 15 para ficar mais compacto */
    overflow-y: auto;
    height: 100vh;
    background-color: #f1f5f9;
    /* Um cinza levemente mais claro para contraste */
}